.container {
	margin: 0 auto;
	border: 2px solid black;
	padding: 10px;
	min-width: 300px;
	width: fit-content;
}

/* 1 sposob */
form > * {
	width: 100%;
	font-size: 20px;
}

/* 2 sposob */
/* .container * {
	width: 100%;
	font-size: 20px;
} */

.p-score {
	white-space: pre-wrap;
}

.div-error {
	color: red;
}

.div-error ul {
	list-style-type: none;
	padding: 0;
}
